@import "../../node_modules/bootstrap/scss/functions";



@import 'variables';

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $body-bg;
    background-image: linear-gradient(to right, $body-bg, #ffffff);
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  @font-face {
    font-family: "Fillate";
    src: local("Fillate"),
      url('../assets/fonts/Fillate.ttf') format("truetype");
    font-weight: normal;
  }
