@import "../../../node_modules/bootstrap/scss/functions";



@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

img {
  width: 100%;
}
.carousel-control-next,
.carousel-control-prev {
  width: 100%;
  top: unset;
  bottom: 10px;
  justify-content: flex-end;
}
.carousel-control-prev {
  right: 50px;
  left: unset;
  z-index: 3;
}
.carousel-control-next {
  right: 10px;
  z-index: 2;
}
@include media-breakpoint-up(lg) {
  img {
    height: 100vh;
    width: auto;
  }
  .carousel-control-next,
  .carousel-control-prev {
    bottom: 25px;
  }
  .carousel-control-prev {
    right: 90px;
  }
  .carousel-control-next {
    right: 50px;
  }
}
